api.floridayachttrader.com {
  reverse_proxy /socket.io* server:5051

  reverse_proxy server:5051 {
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
    header_up Host {host}
  }
}